
.idea/workspace.xml
MsMpEng.exe_metrics.csv
ProcessResourceMonitoring/reporting/__pycache__/report_generator.cpython-310.pyc
pycharm64.exe_metrics.csv
tests/__pycache__/__init__.cpython-310.pyc
tests/__pycache__/test_anomaly_detector.cpython-310-pytest-7.4.4.pyc
tests/__pycache__/test_anomaly_detector.cpython-310.pyc
tests/__pycache__/test_process_monitor.cpython-310-pytest-7.4.4.pyc
tests/__pycache__/test_process_monitor.cpython-310.pyc
tests/__pycache__/test_report_generator.cpython-310-pytest-7.4.4.pyc
.idea/workspace.xml
ProcessResourceMonitoring/reporting/__pycache__/report_generator.cpython-310.pyc
__pycache__/main.cpython-310.pyc
.idea/workspace.xml
*.pyc
*.pyc
*.pyc
System_metrics.csv
